#preview.iPhone #screen {
	background-size: contain;
	background-repeat: no-repeat;

	position: absolute;

	// position the screen to be within the upper/lower bounds of the screen area on the device
	top: 12%;
	bottom: 12%;
	
	// the following three properties (background-position, width, left) ensure that the image is horizontally centered
	background-position: center;
	width: 100%;
	left: 0%;
}

#preview.iPhone #nextscreen {
	background-size: contain;
	background-repeat: no-repeat;

	position: absolute;

	// position the screen to be within the upper/lower bounds of the screen area on the device
	top: 0;
	bottom: 0;
	
	// the following three properties (background-position, width, left) ensure that the image is horizontally centered
	background-position: center;
	width: 100%;
	left: 0%;
}

#preview.iPad #screen {
	
}
