@import "variables";
@import "device";

* {
	font-family: sans-serif;
}

body {
	background: $background_color;
}

div#text {
	text-align: center;
	color: $text_color;
	font-size: 1.2rem;

	span#instruction {
		display: block;
	}

	a.button {
		display: inline-block;
		margin: 1.5rem;

		font-weight: bold;
		text-decoration: none;
		color: $link_color;
	}

	a.button:hover {
		color: $text_color;
	}
}

@media screen and (orientation: portrait) {
	@import "portrait";
}

@media screen and (orientation: landscape) {
	@import "landscape";
}

// DEBUG DEVICE PREVIEW
#preview {
	background: url(../img/iPhone.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
