@import "variables";

* {
	font-family: sans-serif;
}

body {
	background: $background_color;
}

div#text {
	text-align: center;
	color: $text_color;
}

a.button {
	position: block;
	margin: 1rem;

	font-weight: bold;
	text-decoration: none;
	color: $link_color;
}

a.button:hover {
	color: $text_color;
}

@media screen {
	@import "landscape";
}

@media screen {
	@import "portrait";
}
